$margin_hf_lr: 130px;

body {
    margin: 0 auto;
    max-width: 1600px;

}

header {
    min-height: 75px;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: $margin_hf_lr ;
    padding-right: $margin_hf_lr ;
   
}
.header_left {
    display:flex;
   position: right;

&_logo {
    width: 44px;
    height: 38px;
    margin-right: 41px;
    align-self: center;
}
&_search {
    width: 30px;
    height: 30px;
    background: url(img/header-left-img2.png) no-repeat top;
align-self: center;
}
}

.header_right {
    display: flex;
    &_icon {
        align-self: center;
        width: 35px;
        height: 30px;
        margin-left: 41px;
    }
}
.header_icon_1 {
background: url(img/right1.svg) no-repeat;
margin-top: 5px;
}
.header_icon_2 {
    background: url(img/right2.svg) no-repeat;
}
.header_icon_3 {
    background: url(img/Forma3.svg) no-repeat;
}
.topcontent {
    background-color: #F1E4E6;
    display: flex;
    
}
.sectionlogo {
    background: url(img/top_img.png) no-repeat;
    width: 601px;
    min-height: 488px;
    
}

.toptext {
   margin-top: 190px;
   margin-right: 64px;
    min-height: 93px;
    max-width: 405px;
    text-transform: uppercase;
    display: flex;
   
}
.style {
    background-color: #F16D7F;
    height: 93px;
    width:   12px;
    margin-right: 16px;
}
.textstyle {
    color: #222222;
 & > h3 {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 0 0;
 }   
 & > p {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
    margin: 0 0 0 0;
       
 }
}


.aboutus {
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding-left: $margin_hf_lr ;
    padding-right: $margin_hf_lr ;
    background-color: #222224;
    min-height: 340px;
    padding-top: 100px;
}

.info {
    max-width: 360px;
    box-sizing: border-box;
    margin-right: 30px;
    text-align: center;

    
    &_delivery_icon {
        background: url(img/aboutus_delivery.svg) no-repeat;
    width: 48px;
height: 39px;
margin: 0 auto;
    }
    &_sales_icon {
        background: url(img/aboutus_sale.svg) no-repeat;
        width: 48px;
height: 39px;
margin: 0 auto;}
    &_quality_icon {
        background: url(img/aboutus_quality.svg) no-repeat;
        width: 48px;
height: 39px;
margin: 0 auto;}
}
.info > h3 {
    color: #FBFBFB;
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
}

.info > p {
    color: #FBFBFB;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
  

}




.subscribe {
    min-height: 448px;
    background: url(img/prefooter_back.png) no-repeat;
    display: flex;
    justify-content: space-around;
    padding-left: $margin_hf_lr ;
    padding-right: $margin_hf_lr ;

    &_left {
       
        align-self: center;
        max-width: 360px;

        &_photo {
            background: url(img/prefooter_photo.svg) no-repeat;
            width: 96px;
            height: 96px;
            margin: 0 auto;
        }
        &_text {
            margin-top: 30px;;
            color: #222224;
            font-size: 20px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    &_right {
       
        align-self: center;
        max-width: 360px;
    
        &_text {
        
        text-transform: uppercase;
        color: #222224;
        text-align: center;

        & >h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 40px;
            letter-spacing: 0em;
            margin: 0 0 0 0;
        }
            & > p {
            font-size: 18px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            margin: 0 0 0 0;
            }         
        }
    }
}

.form {
    display: flex;
  align-self: center;
  margin-top: 32px;
  max-width: 360px;
  min-height: 50px;
  max-width: 356px;

  

&_email {
    background: #e1e1e1;
    padding-left: 22px;
    color: #222224;
    border-radius: 16px;
    margin-left: 55px;
   border: none;
}

&_button {
background: #F16D7F;
margin-left: -14px;
color: #ffffff;
border-top-right-radius: 22px;
border-bottom-right-radius: 22px;
border:none;
}

}

footer {
   min-height: 79px;
   background-color: #222224;
   display: flex;
   justify-content: space-between;
   padding-left: $margin_hf_lr ;
   padding-right: $margin_hf_lr ;
}
.copyright {
    align-self: center;
max-width: 332px;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;
color: #FBFBFB;

}

.links {
    display: flex;
    &_att {
        width: 32px;
        height: 32px;
        margin-left: 24px;
        align-self: center;
    }
    &_1 {
        background: url(img/footer_img1.svg);
    }
    &_2 {
        background: url(img/footer_img2.svg);
    }
    &_3 {
        background: url(img/footer_img3.svg);
    }
    &_4 {
        background: url(img/footer_img4.svg);
    }
}